* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
.wrapper {
  max-width: 1440px;
  border-radius: 10px;
  padding-top: 64px;
  padding-bottom: 64px;
  background: #f3f5f6;
  justify-content: flex-end;
  margin: 50px auto;
}
.text-wrap {
  max-width: 310px;
}
.wrap2 {
  max-width: 600px;
}
