* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ctr {
  padding-top: 300px;
}
.registration-card {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid red;
  background-color: #ece8e8c2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.registration-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.registration-card form {
  display: flex;
  flex-direction: column;
}
.registration-card label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.login {
  margin: 109px;
  color: red;
  text-decoration: none;
}
.login-card {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid red;
  background-color: #ece8e8c2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.login-card form {
  display: flex;
  flex-direction: column;
}
.login-card label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
