@media (max-width: 1150px) {
  .container {
    padding: 15px;
  }
  .buttons {
    display: none;
  }
  .links {
    flex-wrap: wrap;
  }
  .title-img {
    display: none;
  }
  .title-0 {
    font-size: 50px;
  }
  .logo {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav-full-list-2 {
    display: none;
  }
  span {
    display: none;
  }
  .fourMain > div {
    margin-left: 50px;
  }
  .ThreeMain > div {
    padding-left: 20px;
  }
  .FiveMain > div {
    margin-left: 50px;
  }
}
@media (max-width: 740px) {
  .title-0 {
    font-size: 40px;
  }
  .title-1 {
    max-width: 280px;
  }
  .button4 {
    padding: 0px 12px;
  }
  .button3 {
    padding: 0px 11px;
  }
  .title-2 {
    text-align: center;
  }
  .title-3 {
    font-size: 40px;
  }
  .title {
    font-size: 40px;
  }
  .ThreeMain {
    display: block;
    margin-bottom: 100px;
  }
  .img-2 > img {
    padding-top: 30px;
    max-width: 200px;
  }
  .fourMain {
    display: block;
    margin-bottom: 100px;
  }
  .text-2 {
    padding-top: 0px;
  }
  .FiveMain {
    display: block;
    margin-bottom: 100px;
  }
  .text-1 {
    padding-top: 0px;
    font-size: 40px;
  }
  .text-3 {
    padding-top: 0px;
    font-size: 40px;
  }
  .cards-two {
    display: block;
  }
  .Second-card {
    padding-bottom: 50px;
  }
  .SixMain {
    display: block;
  }
  .MainImg > img {
    max-width: 200px;
  }
  .MainTitle > img {
    padding-bottom: 20px;
  }
  .main-title-1 {
    text-align: center;
  }
  .Main-Title-Second {
    display: block;
  }
  .opyat-cards {
    flex-wrap: wrap;
  }
  .card-1-1-1 {
    padding-bottom: 20px;
  }
  span {
    display: none;
  }
  .Title-2 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .img-3 {
    max-width: 300px;
  }
  .title-main-second {
    font-size: 50px;
  }
  .text-4 {
    font-size: 45px;
  }
  .nav-full-list-2 {
    display: none;
  }
  .last-year {
    display: block;
  }
  .last-last {
    display: block;
  }
  .last-text {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0px;
  }
  .text-6 {
    max-width: 233px;
  }
  .nav-list > img {
    max-width: 200px;
  }
}
