@import "reset";
@mixin fonts($fw, $fz, $lh, $clr) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: $clr;
}
.head {
  padding-top: 79px;
  background: #eeeff1;

  .homepage {
    @include fonts(500, 16px, 26px, #34547a);
  }
  a {
    @include fonts(inherit, inherit, inherit, inherit);
    margin-right: 42px;
    text-decoration: none;
  }
  @media (max-width: 1100px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 400px) {
    text-align: center;
  }
}
.first-sector {
  background: #eeeff1;
  padding-top: 100px;
  padding-bottom: 100px;

  .dal {
    margin-bottom: 60px;
    @include fonts(500, 48px, 79px, inherit);
  }
  .wrap-1 {
    max-width: 540px;
    margin-bottom: 65px;
    @include fonts(inherit, inherit, inherit, #727272);
  }
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 255px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #34547a;
    @include fonts(inherit, inherit, inherit, #ffffff);
  }
  @media (max-width: 1100px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 400px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.two-sector {
  background: #ffffff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .About {
    margin-bottom: 50px;
    @include fonts(500, 32px, 38px, inherit);
  }
  .wrap-2 {
    margin: 0 auto;
    max-width: 540px;
    @include fonts(inherit, inherit, inherit, #727272);
  }
  @media (max-width: 1100px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 400px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.three-sector {
  background: #34547a;
  padding-top: 100px;
  padding-bottom: 100px;
  .fx-card {
    display: flex;
    justify-content: space-between;
  }
  .card {
    display: flex;
    .card-content {
      padding-left: 20px;
    }
    .main-text {
      margin-top: 0;
      @include fonts(500, 21px, 25px, #ffffff);
    }
    .p2 {
      margin-bottom: 0;
      @include fonts(inherit, 16px, inherit, #ffffff);
    }
  }
  @media (max-width: 992px) {
    .fx-card {
      flex-wrap: wrap;
      gap: 30px 10px;
    }
    @media (max-width: 400px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.four-sector {
  background: #eeeff1;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  .main-text-0 {
    margin-bottom: 50px;
    @include fonts(500, 32px, 38px, inherit);
  }
  .wrap-3 {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 57px;
    @include fonts(inherit, inherit, inherit, #727272);
  }

  @media (max-width: 1100px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 400px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.last-footer {
  background: #34547a;
  padding-bottom: 50px;
  padding-top: 50px;
  .main-text-1 {
    margin-bottom: 20px;
    @include fonts(500, 21px, 25px, #ffffff);
  }
  .wrap-4 {
    @include fonts(inherit, 13px, 21px, #ffffff);
  }
  @media (max-width: 1100px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 400px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.aspect-video {
  aspect-ratio: 16/9;
}
